.QPushButton {
    background-color: #CCE8FF;
    color: black;
    border: 2px solid #99D1FF;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.QPushButton:hover {
    background-color: #99D1FF;
}
.QPushButton:pressed {
    background-color: #3DD3ED;
    border-color: #3DD3ED;
}
.QPushButton:disabled {
    color: grey;
}
FlatButton {
    border-width: 0px;
    border-radius: 0px;
    padding: 5px;
}
FlatButton:hover {
    color: #2CA9FD;
}
QPlainTextEdit, QLineEdit {
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}
QPlainTextEdit:focus, QLineEdit:focus {
    border-color: #99D1FF;
}
QCheckBox::indicator {
    width: 30px;
    height: 30px;
}
QCheckBox::indicator:unchecked {
    image: url(images/blank.png);
}
QCheckBox::indicator:checked {
    image: url(images/checked.png);
}