QPushButton#Button {
    background-color: rgb(204, 232, 255);
    color: black;
    border: 2px solid rgb(153, 209, 255);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
QPushButton#Button:hover {
    background-color: rgb(153, 209, 255);
}
QPushButton#Button:pressed {
    background-color: rgb(61, 210, 237);
    border-color: rgb(61, 210, 237);
}
QPushButton#Button:disabled {
    color: grey;
}
QPushButton#Flat {
    border-radius: 25px;
    padding: 10px;
}
QPushButton#Flat:hover {
    background-color: rgba(179, 179, 179, 0.5);
}
QPushButton#Flat:pressed {
    background-color: rgba(179, 179, 179, 0.8);
}
QPushButton#Link {
    border-radius: 0px;
    padding: 5px;
}
QPushButton#Link:hover {
    color: rgb(44, 169, 253);
}
QPushButton#Link:pressed {
    color: rgb(44, 169, 253);
}
QPlainTextEdit, QLineEdit {
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}
QPlainTextEdit:focus, QLineEdit:focus {
    border-color: rgb(153, 209, 255);
}
.QFrame {
    border: 1px solid grey;
    border-radius: 10px;
}
QComboBox {
    background-color: rgb(240, 240, 240);
    color: black;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}
QComboBox:focus {
    border-color: rgb(153, 209, 255);
}
QComboBox::drop-down {
    width: 30px;
    border: 0px;
}
QComboBox::down-arrow {
    image: url(images/down.png);
    width: 15px;
    height: 15px;
}
QCheckBox::indicator {
    width: 30px;
    height: 30px;
}
QCheckBox::indicator:unchecked {
    image: url(images/blank.png);
}
QCheckBox::indicator:checked {
    image: url(images/checked.png);
}