QPushButton {
    background-color: #CCE8FF;
    border-color: #99D1FF;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}
QPushButton:hover {
    background-color: #99D1FF;
}
QPushButton:pressed {
    background-color: #3DD3ED;
    border-color: #3DD3ED;
}
QPlainTextEdit, QLineEdit {
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
QPlainTextEdit:focus, QLineEdit:focus {
    border-color: #99D1FF;
}